@font-face {
  font-family: 'Ding';
  src: url('../fonts/ding.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Round';
  src: url('../fonts/round.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
