@font-face {
  font-family: 'Ding';
  src: url('../fonts/ding.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Round';
  src: url('../fonts/round.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
